@mixin tablet {
	@media (max-width: 991.98px) {
		@content;
	}
}
@mixin mobile {
	@media (max-width: 767.98px) {
		@content;
	}
}
@mixin phone {
	@media (max-width: 575.98px) {
		@content;
	}
}
* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background-color: #e6e6e6;
		z-index: -1;
		@include mobile {
			background-color: transparent;
		}
	}
}

ul {
	padding: 0 20px;
	margin: 0;
}
li {
	margin: 5px 0;
}
img {
	max-width: 100%;
	max-height: 100%;
}
a {
	text-decoration: none;
	color: #222;
	transition: all 0.2s ease;
	&:hover {
		color: #b5b5b5;
		transition: all 0.2s ease;
	}
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h1 {
	font-size: 30px;
	@include tablet {
		font-size: 28px;
	}
}

h2 {
	font-size: 26px;
	@include tablet {
		font-size: 24px;
	}
}

h3 {
	font-size: 24px;
	@include tablet {
		font-size: 22px;
	}
}

h4 {
	font-size: 22px;
	@include tablet {
		font-size: 20px;
	}
}

h5 {
	font-size: 20px;
	@include tablet {
		font-size: 18px;
	}
}

h6 {
	font-size: 18px;
	margin: 5px 0;
	@include tablet {
		font-size: 16;
	}
}
p,
li {
	font-size: 16px;
	line-height: 1.44;
	color: #222;
	@include tablet {
		font-size: 14px;
	}
}

.wi100 {
	width: 100%;
}
.arrow-wrp{
	position: sticky;
	top: 350px;
    width: 20px;
	height: 30px;
	transform: translateX(-5px);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	@include mobile {
		display: none;
	}
}
#js-to-bottom {
	img {
		width: 10px;
	}
}

.btn-wrapper {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 30px;
	max-width: 160px;
	width: 100%;
	border: 2px solid #888;
	color: #888;
	border-radius: 13px;
	margin: 0 5px;
	&:hover {
		border-color: #222222;
		color: #222222;
		transition: all 0.2s ease;
	}
}

.wrapper {
	display: flex;
	width: 100%;
	max-width: 1280px;
	margin: auto;
	min-height: 100vh;
	@include mobile {
		flex-direction: column;
		padding-bottom: 30px;
	}
	.version {
		position: absolute;
		bottom: 30px;
		z-index: 1;;
		width: 100%;
		padding: 0 30px;
		color: #888;
		font-size: 16px;
		cursor: pointer;
		@include mobile {
			text-align: center;
		}
		b {
			color: #222;
		}
	}
	.tooltip {
		display: none;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		bottom: 30px;
		left: 0px;
		padding: 5px 10px;
		border: 1px solid #888;
		border-radius: 8px;
		background-color: #fff;
		li {
			list-style-type: none;
			color: #888;
			text-align: left;
			b {
				color: #222;
			}
		}

		&.hover {
			display: block;
			opacity: 1;
			visibility: visible;
		}
	}
}

.intro {
	width: 30%;
	padding: 50px 30px;
	background-color: #e6e6e6;
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	align-items: center;
	max-height: 100%;
	position: relative;
	@include tablet {
		padding: 40px 20px;
	}
	@include mobile {
		width: 100%;
		flex-direction: row;
		align-items: flex-start;
	}
	@include phone {
		flex-direction: column;
	}
	&-img {
		width: 100%;
		margin-bottom: 20px;
		img {
			display: block;
		}
		// max-height: 300px;
		// height: 100%;
		@include tablet {
			max-height: 240px;
		}
		@include mobile {
			max-width: 240px;
			margin-right: 20px;
		}
		@include phone {
			margin-right: 0;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&-headline {
		margin: 10px 0;
		width: 100%;
		@include phone {
			text-align: center;
		}
	}
	&-title {
		position: relative;
		padding: 20px 0;
		&:after {
			content: "";
			position: absolute;
			display: block;
			bottom: 10px;
			width: 100%;
			height: 1px;
			background-color: #b5b5b5;
			z-index: 1;
		}
	}
	&-content {
		margin-top: 40px;
		width: 100%;
	}
	&-row {
		margin: 20px 0;
	}
}

.content {
	width: 70%;
	padding: 30px 30px 50px;
	background-color: #fff;
	max-height: 100%;
	@include tablet {
		padding: 30px 20px 50px;
	}
	@include mobile {
		width: 100%;
	}

	&-row {
		margin: 15px 0;
	}

	&-list {
		a {
			display: inline-block;
		}
	}

	&-title {
		position: relative;
		margin: 10px 0;
		line-height: 1.44;

		&:before {
			content: "";
			position: absolute;
			display: block;
			bottom: -7px;
			width: 100%;
			height: 2.2px;
			background-color: #b5b5b5;
			z-index: 1;
		}
	}

	&-desc {
		padding: 10px;
	}
	&-head {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		@include phone {
			display: block;
		}
	}
	&-date {
		margin-left: 30px;
		font-size: 18px;
		letter-spacing: 0.8px;
		flex-shrink: 0;
		@include tablet {
			font-size: 14px;
		}
		@include phone {
			text-align: right;
			margin: 5px 0;
		}
	}
}
